.single {
  display: flex;

  flex-wrap: wrap;

  gap: 20px;

  margin-top: 50px;
}
.restaurent-data {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px;
  flex-wrap: wrap;
}
.single .data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.single h1,
p {
  font-family: "Montserrat";
}

.single h5 {
  font-family: "Montserrat";
  margin: 0 50px;
  font-size: 20px;
}

@media screen and (max-width: 450px) {
  .restaurent-data {
    margin: 0px 10px;
  }
  .single h5 {
    margin: 0px 10px;
  }
}
