.item {
  display: flex;
  padding: 3%;
  flex-wrap: wrap;
  gap: 30px;
  width: 100vw;
  flex: 2;
}
.item-img {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}
.item-img img {
  height: 100%;
  width: 100%;
}
.item-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 0.7;
  flex-shrink: 1;
}
.item-info .quantityNo {
  font-size: 20px;
  margin: 0px 10px;
  font-family: Montserrat;
  font-weight: 600;
}
.item-info .addToCartButton {
  background: #ff5733;
  font-family: Montserrat;
}
.item-info .addToCartButton:hover {
  background: #000;
}
.item-info h1,
h2 {
  font-family: Montserrat;
}
