#navbar-container {
  display: flex;
  width: 100%;
  padding: 30px 64px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  background: #1a120b;
  position: sticky;
  top: 0;
  z-index: 999;
}

#navbar-container .nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

#navbar-container .logo {
  color: #fff;
  font-family: Roboto mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#navbar-container .nav-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: inherit;
  left: 321px;
  top: 7px;
}

#navbar-container .nav-navigation li {
  color: #fff;
  font-family: Roboto mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style-type: none;
}

#navbar-container .nav-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

#navbar-container .nav-login span {
  color: #fff;
  font-family: Roboto mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
