.add {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.add .content {
  display: flex;
  flex-direction: column;
}
.add h3 {
  font-size: 30px;

  font-family: montserrat;
}

.footitem {
  width: auto;
  display: flex;
  justify-content: center;
}

.cat-button {
  color: white !important;
  background-color: #ff5733 !important;
  width: 200px !important;
  padding: 10px !important;
  border-radius: 30px !important;
}

@media only screen and (max-width: 600px) {
  .add {
    width: 150%;
  }
}
